.appContainer {
	background: linear-gradient(to right, #ee0979, #ff6a00);
	display: flex;
	flex-direction: column;
	position: relative;
	height: 100vh;
	width: 100vw;
	box-shadow: 0px 1px 4px #61210f;
	border-radius: 3px;
}

.todoBoard {
	justify-content: center;
	align-self: center;
	position: relative;
	margin: 30px 0;
	width: 60%;
	background: white;
	border-radius: 2px;
	box-shadow: 0px 0px 5px #f0f0f0;
	height: 100%;
	z-index: 0;
	animation: fadeIN 1.5s;
	padding: 20px;
}
@keyframes fadeIN {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@media only screen and (max-width: 900px) {
	.todoBoard {
		width: 90%;
	}
}

.heading4,
.h2style {
	font-weight: 100;
}

.h2style {
	margin: 0px 0 7px 0;
}
.hrstyle {
	height: 1px;
	background: rgb(247, 62, 54);
	border-radius: 0px;
}

.clearTasks {
	text-align: right;
	color: white;
	font-size: 13px;
	background: linear-gradient(to right, #ee0979, #ff6a00);
	width: 62px;
	padding: 6px 16px;
	border-radius: 9%;
	text-transform: none;
	text-decoration: none;
	box-shadow: 0px 0px 4px #f11a65;
	cursor: pointer;
	margin: 0 5px;
	transition: background 1.5s;
}

.clearTasks:hover {
	background: linear-gradient(to right, #ff6a00, #ee0979);
}

.tag {
	background: #ff6a00;
	padding: 1px 8px;
	border-radius: 27px;
	color: white;
	font-size: 12px;
	font-weight: bold;
	margin-left: 5px;
}
